section {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1, h2 {
    color: #00634d;
}

h1 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 28px;
    margin-top: 5%;
}

h2 {
    font-family: Modak;
    font-size: 96px;
    margin: 0;
}

