.yearlyFavoritesSection {
    background-color: #efede7;
}

h3 {
    font-family: merriweather;
    font-weight: 700;
    font-size: 72px;
    color: #00634d;
}

.yearlyFavoritesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.yearlyFavoritesList div {
    border: solid #00634d 10px;
    width: 25%;
    position: relative;
    font-family: Merriweather;
    font-size: 24px;
    color: #00634d;
    padding: 1em;
}

.yearlyFavoritesList div img {
    border-radius: 1em;
    max-height: 350px;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }